{% if settings.quick_shop_style == 'inline' %}
	<div class="inline-quickshop js-product_section product-{{ product.id }}">
		{% include 'product-form', show_payment_button_quickshop: settings.show_payment_button %}
	</div>
{% else %}
	{% include 'quick-shop-button' %}
{% endif %}