{% if section.settings.featured_collection_image %}

	<header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
		{% if collection.image %}
			{% assign image = collection.image %}
		{%- elsif section.settings.image -%}
			{% assign image = section.settings.image %}
		{%- else %}
			{% assign image = collection.products.first.featured_image %}
		{% endif %}

		{% include 'image-element', image: image, alt: collection.title, stretch_width: true, progressive: true %}

		{% if section.settings.display_collection_title %}
			<div class="caption captionOverlay--true">
			<h1 class="headline boost-pfs-filter-collection-header">{{ collection.title }}</h1>
			</div>
		{% endif %}
	</header>
{% endif %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  {% paginate collection.products by section.settings.pagination_limit %}

	<div class="clearfix breadcrumb-collection">
		{% if section.settings.collection_breadcrumb %}
			<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"item": {
					"@id": "{{ shop.url }}",
					"name": "{{ 'general.breadcrumbs.home' | t }}"
					}
				},
				{
					"@type": "ListItem",
					"position": 2,
					"item": {
					"@id": "{{ shop.url }}/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}",
					"name": "{{ collection.title }}"
					}
				}
				{% if current_tags %}
					{% for tag in current_tags %}
					{% unless tag contains 'meta-' %}
						,
						{
						"@type": "ListItem",
						"position": {{ forloop.index | plus: 2 }},
						"item": {
							"@id": "{{ shop.url }}/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
							"name": "{{ tag }}"
						}
						}
					{% endunless %}
					{% endfor %}
				{% endif %}
				]
			}
			</script>
			<div class="eight columns breadcrumb_text medium-down--one-whole">
			<a href="{{ shop.url }}" title="{{ shop.name | escape }}">
				<span>{{ 'general.breadcrumbs.home' | t }}</span>
			</a>
			<span class="breadcrumb-divider">/</span>
			<a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}" title="{{ collection.title | escape }}" class="breadcrumb_link">
				<span>{{ collection.title }}</span>
			</a>
			<span class="boost-pfs-filter-top-pagination"></span>
			</div>
		{% endif %}
	</div>
	<div class="section clearfix">
		{% if section.settings.display_collection_title and section.settings.featured_collection_image == false %}
			<div class="eight columns">
			<h1 class="boost-pfs-filter-collection-header">{{ collection.title }}</h1>
			</div>
		{% endif %}
	<div class="eight columns section_select medium-down--one-whole">
		{% if section.settings.collection_sort %}
			<select aria-label="Sort by" class="sort_by boost-pfs-filter-top-sorting"></select>
		{% endif %}
	</div>
	</div>
	<div class="sixteen columns">
		<div class="feature_divider"></div>
	</div>

	{% comment %}Check to see if sidebar should be enabled{% endcomment %}
	{% assign sidebar = true %}

	<div class="boost-pfs-filter-tree-mobile-button" >{% include 'boost-pfs-filter-skeleton', type: 'button' %}</div>
	<div class="sidebar four columns">
		<div class="sidebar-wrap">
		<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" >
			{% comment %} Include placeholder template {% endcomment %}
			{% include 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
		</div>
		</div>
	</div>
	<div class="twelve columns">

		{% if collection.description != blank %}
			<div class="boost-pfs-filter-collection-description section clearfix collection_description">
			{{ collection.description }}
			</div>
		{% endif %}

		{% comment %} Remove collection-matrix class to prevent conflict infinite loading between app & theme {% endcomment %}
		<div itemtype="http://schema.org/ItemList" class="boost-pfs-filter-products product-list clearfix equal-columns--clear equal-columns--outside-trim" data-boost-sort="{{ collection.default_sort_by }}">
			{% assign products_per_row = section.settings.products_per_row %}
			{% include 'product-loop', sidebar: sidebar %}
		</div>

		<div class="twelve columns">
			<div class="section clearfix">
			<div class="paginate boost-pfs-filter-bottom-pagination"></div>
			<div class="boost-pfs-filter-load-more"></div>
			</div>
		</div>

	</div>
  {% endpaginate %}

</div>

<script>
	// Declare boostPFSConfig variable
	var boostPFSConfig = {
		label: {
		sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
		sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
		sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
		sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
		sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
		sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
		sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
		sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
		sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
		sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
		sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},

		sale: {{ 'collections.general.sale' | t | json }},
		sold_out: {{ 'products.product.sold_out' | t | json }},
		new: {{ 'collections.general.new' | t | json }},
		coming_soon: {{ 'collections.general.coming_soon' | t | json }},
		pre_order: {{ 'collections.general.pre_order' | t | json }},
		quick_shop: {{ 'collections.general.quick_shop' | t | json }},
		free_price: {{ settings.free_price_text | json }},
		from_price: {{ 'products.general.from' | t | json }},
		view_detail: {{ 'collections.general.view_product_details_html' | t | escape | json }},
		breadcrumb_page: {{ 'general.breadcrumbs.page' | t | json }},
		breadcrumb_home: {{ 'general.breadcrumbs.home' | t | json}},
		load_more: {{ 'collections.general.load_more' | t | json }},
		paginate_prev: {{ 'shopify.pagination.previous' | t | json }},
		paginate_next: {{ 'shopify.pagination.next' | t | json }},
		},
		custom: {
		sidebar: {% if sidebar != nil %} {{ sidebar | json }} {% else %} false {% endif %},
		products_per_page: {% if section.settings.pagination_limit %} {{ section.settings.pagination_limit | json }} {% else %} 20 {% endif %},
		products_per_row:  {% if section.settings.products_per_row %} {{ section.settings.products_per_row }} {% else %} 4 {% endif %},
		mobile_products_per_row: {% if settings.mobile_products_per_row %} {{ settings.mobile_products_per_row | json }} {% else %} '1' {% endif %},
		secondary_image: {% if settings.collection_secondary_image != nil %} {{ settings.collection_secondary_image | json }} {% else %} false {% endif %},
		sale_banner_enabled: {% if settings.sale_banner_enabled != nil %} {{ settings.sale_banner_enabled | json }} {% else %} false {% endif %},
		image_loading_style: {% if settings.image_loading_style %} {{ settings.image_loading_style | json }} {% else %} '' {% endif %},
		vendor_enable: {% if settings.display_vendor != nil %} {{ settings.display_vendor | json }} {% else %} false {% endif %},
		quick_shop_enabled: {% if settings.quick_shop_enabled != nil %} {{ settings.quick_shop_enabled | json }} {% else %} false {% endif %},
		quick_shop_style: {% if settings.quick_shop_style %} {{ settings.quick_shop_style | json }} {% else %} "popup" {% endif %},
		collection_swatches: {% if settings.collection_swatches != nil %} {{ settings.collection_swatches | json }} {% else %} false {% endif %},
		description_words: {% if settings.description_words %} {{ settings.description_words | json }} {% else %} 25 {% endif %},
		loader_image_url: "{{ 'loader.gif' | asset_url }}",
		thumbnail_hover_enabled: {% if settings.thumbnail_hover_enabled != nil %} {{ settings.thumbnail_hover_enabled | json }} {% else %} false {% endif %},
		enable_shopify_collection_badges: {% if settings.enable_shopify_collection_badges != nil %} {{ settings.enable_shopify_collection_badges | json }} {% else %} false {% endif %},
		enable_shopify_review_comments: {% if settings.enable_shopify_review_comments != nil %} {{ settings.enable_shopify_review_comments | json }} {% else %} false {% endif %},
		align_height: {% if settings.align_height != nil %} {{ settings.align_height | json }} {% else %} false {% endif %},
		collection_height: {% if settings.collection_height %} {{ settings.collection_height | plus: 0 }} {% else %} 0 {% endif %},
		pagination_type: {% if settings.pagination_type %} {{ settings.pagination_type | json }} {% else %} "basic_pagination" {% endif %},
		}
	};
</script>
{% schema %}


{
  "name": "Collection",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "featured_collection_image",
      "label": "Show banner",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115009455768-How-to-add-a-Collection-Banner)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "display_collection_title",
      "label": "Show collection title"
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Enable filtering by product tag"
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable collection sorting"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter",
      "name": "Tag filter",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "filter_name",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "filter_tags",
          "label": "Filter tags",
          "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115008642047)"
        },
        {
          "type": "checkbox",
          "id": "enable_filter_swatches",
          "label": "Display color swatches"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}
