{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template-boost-pfs-original.liquid
{% endcomment %}

{% section 'collection-template-boost-pfs-original' %}