<div class="container main content main-wrapper">

	<div class="clearfix breadcrumb-collection">
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"item": {
				"@id": "{{ shop.url }}",
				"name": "{{ 'general.breadcrumbs.home' | t }}"
				}
			},
			{
				"@type": "ListItem",
				"position": 2,
				"item": {
				"@id": "{{ shop.url }}/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}",
				"name": "{{ collection.title }}"
				}
			}
			{% if current_tags %}
				{% for tag in current_tags %}
				{% unless tag contains 'meta-' %}
					,
					{
					"@type": "ListItem",
					"position": {{ forloop.index | plus: 2 }},
					"item": {
						"@id": "{{ shop.url }}/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
						"name": "{{ tag }}"
					}
					}
				{% endunless %}
				{% endfor %}
			{% endif %}
			]
		}
		</script>
		<div class="eight columns breadcrumb_text medium-down--one-whole">
		<a href="{{ shop.url }}" title="{{ shop.name | escape }}">
			<span>{{ 'general.breadcrumbs.home' | t }}</span>
		</a>
		<span class="breadcrumb-divider">/</span>
		<a href="/search" class="breadcrumb_link">
			<span>{{ 'general.search.title' | t }}</span>
		</a>
		<span class="boost-pfs-filter-top-pagination"></span>
		</div>
	</div>

	<div class="sixteen columns clearfix collection_nav">
		<div class="eight columns alpha">
			<h1 class="collection_title boost-pfs-search-result-header">{{ 'general.search.title' | t }}</h1>
		</div>

		<div class="eight columns section_select medium-down--one-whole">
			<select aria-label="Sort by" class="sort_by boost-pfs-filter-top-sorting"></select>
		</div>
	</div>

	<p class="boost-pfs-search-result-number">{% include 'boost-pfs-filter-skeleton', width: 2 %}</p>

	<form class="boost-pfs-search-form" action="{{ routes.search_url }}" method="get" role="search">
		<input class="boost-pfs-search-box" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
		<button type="submit" class="boost-pfs-search-btn"></button>
	</form>

	<div class="sidebar four columns">
		<div class="boost-pfs-filter-tree-mobile-button" >{% include 'boost-pfs-filter-skeleton', type: 'button' %}</div>
		<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" >
		{% comment %} Include placeholder template {% endcomment %}
		{% include 'boost-pfs-filter-skeleton', type: 'filter-tree'  %}
		</div>
	</div>
	<div class="twelve columns">
		{% comment %} Remove collection-matrix class to prevent conflict infinite loading between app & theme {% endcomment %}
		<div itemtype="http://schema.org/ItemList" class="boost-pfs-filter-products product-list clearfix equal-columns--clear equal-columns--outside-trim">
		{% comment %} Fix Shopify search term report {% endcomment %}
		{% paginate search.results by 2 %}
			{% if search.performed %}
			{% for item in search.results %}
				<div class="grid__item" style="display: none !important"></div>
			{% endfor %}
			{% endif %}
		{% endpaginate %}
		</div>

		<div class="sixteen columns">
		<div class="section clearfix">
			<div class="boost-pfs-filter-bottom-pagination paginate"></div>
			<div class="boost-pfs-filter-load-more"></div>
		</div>
		</div>
	</div>
</div>

<script>
	// Declare boostPFSConfig variable
	var boostPFSConfig = {
		label: {
		sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Sorting" {% endunless %},
		sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Best Selling" {% endunless %},
		sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Featured" {% endunless %},
		sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Alphabetically, A-Z" {% endunless %},
		sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Alphabetically, Z-A" {% endunless %},
		sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Lowest Price" {% endunless %},
		sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Highest Price" {% endunless %},
		sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Date, Old to New" {% endunless %},
		sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Date, New to Old" {% endunless %},
		sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "% Off" {% endunless %},
		sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{temp | json}} {% else %} "Relevance" {% endunless %},

		sale: {{ 'collections.general.sale' | t | json }},
		sold_out: {{ 'products.product.sold_out' | t | json }},
		new: {{ 'collections.general.new' | t | json }},
		coming_soon: {{ 'collections.general.coming_soon' | t | json }},
		pre_order: {{ 'collections.general.pre_order' | t | json }},
		quick_shop: {{ 'collections.general.quick_shop' | t | json }},
		free_price: {{ settings.free_price_text | json }},
		from_price: {{ 'products.general.from' | t | json }},
		view_detail: {{ 'collections.general.view_product_details_html' | t | json }},
		quantity: {{ 'products.product.quantity' | t | json }},
		add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
		breadcrumb_home: {{ 'general.breadcrumbs.home' | t | json }},
		breadcrumb_page: {{ 'general.breadcrumbs.page' | t | json }},
		paginate_prev: {{ 'shopify.pagination.previous' | t | json }},
		paginate_next: {{ 'shopify.pagination.next' | t | json }}
		},
		custom: {
		sidebar: {% if sidebar != nil %} {{ sidebar | json }} {% else %} false {% endif %},
		products_per_page: {% if section.settings.pagination_limit %} {{ section.settings.pagination_limit | json }} {% else %} 20 {% endif %},
		products_per_row:  {% if section.settings.products_per_row %} {{ section.settings.products_per_row }} {% else %} 4 {% endif %},
		mobile_products_per_row: {% if settings.mobile_products_per_row %} {{ settings.mobile_products_per_row | json }} {% else %} '1' {% endif %},
		secondary_image: {% if settings.collection_secondary_image != nil %} {{ settings.collection_secondary_image | json }} {% else %} false {% endif %},
		sale_banner_enabled: {% if settings.sale_banner_enabled != nil %} {{ settings.sale_banner_enabled | json }} {% else %} false {% endif %},
		image_loading_style: {% if settings.image_loading_style %} {{ settings.image_loading_style | json }} {% else %} '' {% endif %},
		vendor_enable: {% if settings.display_vendor != nil %} {{ settings.display_vendor | json }} {% else %} false {% endif %},
		quick_shop_enabled: {% if settings.quick_shop_enabled != nil %} {{ settings.quick_shop_enabled | json }} {% else %} false {% endif %},
		quick_shop_style: {% if settings.quick_shop_style %} {{ settings.quick_shop_style | json }} {% else %} "popup" {% endif %},
		collection_swatches: {% if settings.collection_swatches != nil %} {{ settings.collection_swatches | json }} {% else %} false {% endif %},
		description_words: {% if settings.description_words %} {{ settings.description_words | json }} {% else %} 25 {% endif %},
		loader_image_url: "{{ 'loader.gif' | asset_url }}",
		thumbnail_hover_enabled: {% if settings.thumbnail_hover_enabled != nil %} {{ settings.thumbnail_hover_enabled | json }} {% else %} false {% endif %},
		enable_shopify_collection_badges: {% if settings.enable_shopify_collection_badges != nil %} {{ settings.enable_shopify_collection_badges | json }} {% else %} false {% endif %},
		enable_shopify_review_comments: {% if settings.enable_shopify_review_comments != nil %} {{ settings.enable_shopify_review_comments | json }} {% else %} false {% endif %},
		align_height: {% if settings.align_height != nil %} {{ settings.align_height | json }} {% else %} false {% endif %},
		collection_height: {% if settings.collection_height %} {{ settings.collection_height | plus: 0 }} {% else %} 0 {% endif %},
		pagination_type: {% if settings.pagination_type %} {{ settings.pagination_type | json }} {% else %} "basic_pagination" {% endif %},
		}
	};
</script>